@using EShop.Application.EntitiesExtentions
@using static Microsoft.EntityFrameworkCore.DbLoggerCategory
@model List<EShop.Domain.Entities.Site.SiteBanner>


<section class="banner">
    <div class="container-fluid">
        <!-- Adding a heading for SEO purposes, but hiding it visually -->
        <h2 class="section-title visually-hidden">بنر های تبلیغاتی</h2> <!-- Hidden from view but present for SEO -->
        <div class="row">
            @if (Model is not null)
            {
                @foreach (var banner in Model)
                {
                    <div class="col-lg-@((int)banner.GridColumnSize)">
                        <a href="@banner.Link">
                            <div class="banner-image-parent">
                                <div class="banner-image-main">
                                    <img src="@banner.GetSiteMainImageAddress()" alt="@banner.Description" title="@banner.Description" class="rounded-4 h-auto">
                                </div>
                                <div class="banner-image-blur">
                                    <img src="@banner.GetSiteMainImageAddress()" alt="@banner.Description" title="@banner.Description">
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                <partial name="NoItemFound" />
            }
        </div>
    </div>
</section>