@using EShop.Application.Utilities
@model EShop.Domain.DTOs.Product.FilterProductDto

@{
    ViewData["Title"] = "محصولات فروشگاه";
    var categories = ViewBag.ProductCategories as List<EShop.Domain.Entities.Product.ProductCategory>;
}

<section class="card-categories site-slider">
    <div class="container-fluid">
        <div class="section-title mt-xl-4 mt-5 pt-xl-0 pt-5 mb-2">
            <div class="section-title-title">
                <h1 class="fw-900 h4">محصولات<span class="with-highlight ms-1">فروشگاه</span></h1>
                <div class="Dottedsquare"></div>
            </div>
        </div>
        <div class="row gy-4">
            <!-- filter in mobile -->
            <div class="col-lg-3 d-lg-none d-block">
                <div class="custom-filter d-lg-none d-block">
                    <button class="btn btn-filter-float border-0 main-color-two-bg shadow-box px-4 py-2 rounded-3 position-fixed" style="z-index: 9;bottom:80px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <i class="bi bi-funnel font-20 fw-bold text-white"></i>
                        <span class="d-block font-14 text-white">فیلتر</span>
                    </button>

                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title">فیلتر ها</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <aside class="">
                                <section class="mb-4 border-ui shadow-xl filter-container">
                                    <!-- Adding a heading for SEO purposes, but hiding it visually -->
                                    <h4 class="section-title visually-hidden">جستجوی محصولات</h4> <!-- Hidden from view but present for SEO -->
                                    <label for="search-products-filter" class="filter-title">جستجو محصولات</label>
                                    <div class="position-relative">
                                        <input id="search-products-filter" type="text" class="form-control py-3 rounded-4 w-100 bs-bg-gray-100" placeholder="جستجوی محصول ...">
                                        <span class="position-absolute me-3 end-0 top-50 translate-middle-y"><i class="bi bi-search"></i></span>
                                    </div>
                                </section>
                                <section class="mb-4 border-ui shadow-xl filter-container">
                                    <h2 class="filter-title">فیلتر قیمت</h2>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <a href="#" class="btn m-1 ms-0 btn-outline-dark btn-sm align-items-center d-flex justify-content-between"><i class="bi bi-x float-end"></i>موجودی</a>
                                        <a href="#" class="btn m-1 ms-0 btn-outline-dark btn-sm align-items-center d-flex justify-content-between"><i class="bi bi-x float-end"></i>تخفیف خورده</a>
                                        <a href="#" class="btn m-1 ms-0 btn-outline-dark btn-sm align-items-center d-flex justify-content-between"><i class="bi bi-x float-end"></i>قرمز</a>
                                        <a href="#" class="btn m-1 ms-0 btn-outline-dark btn-sm align-items-center d-flex justify-content-between"><i class="bi bi-x float-end"></i>سبز</a>
                                        <a href="#" class="btn m-1 ms-0 btn-outline-dark btn-sm align-items-center d-flex justify-content-between"><i class="bi bi-x float-end"></i>آبی</a>
                                    </div>
                                </section>
                                <section class="mb-4 border-ui shadow-xl filter-container">
                                    <h2 class="filter-title">فیلتر قیمت</h2>
                                    <div class="filter-price">
                                        <div class="filter-slider">
                                            <div class="price-slider noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-rtl"><div class="noUi-base"><div class="noUi-connects"><div class="noUi-connect" style="transform: translate(0%, 0px) scale(1, 1);"></div></div><div class="noUi-origin" style="transform: translate(0%, 0px); z-index: 5;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="17700000.0" aria-valuenow="0.0" aria-valuetext="0"><div class="noUi-touch-area"></div></div></div><div class="noUi-origin" style="transform: translate(100%, 0px); z-index: 4;"><div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="17700000.0" aria-valuenow="17700000.0" aria-valuetext="17700000"><div class="noUi-touch-area"></div></div></div></div></div>
                                        </div>
                                        <ul class="filter-range mb-4">
                                            <li>
                                                <input type="text" data-value="0" value="0" name="price[min]" data-range="0" class="js-slider-range-from min-price-filter" disabled="">
                                                <span>تومان</span>
                                            </li>
                                            <li class="label fw-bold">تا</li>
                                            <li>
                                                <input type="text" data-value="17700000" value="17700000" name="price[max]" data-range="17700000" class="js-slider-range-to max-price-filter" disabled="">
                                                <span>تومان</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="form-check mt-2">
                                        <input class="form-check-input" type="checkbox" id="available-products-filter">
                                        <label class="form-check-label mt-1" for="available-products-filter">محصولات موجود</label>
                                    </div>
                                    <div class="form-check mt-2">
                                        <input class="form-check-input" type="checkbox" id="discounted-products-filter">
                                        <label class="form-check-label mt-1" for="discounted-products-filter">فقط تخفیف خورده‌ها</label>
                                    </div>
                                </section>
                                <section class="mb-4 border-ui shadow-xl filter-container">
                                    <h2 class="filter-title">رنگ‌ها</h2>
                                    <div class="d-flex flex-wrap">
                                        <div class="color-box position-relative" style="background-color: black;" onclick="selectColor(this)">
                                            <i class="bi bi-check text-white position-absolute check-icon"></i>
                                        </div>
                                        <div class="color-box position-relative" style="background-color: gray;" onclick="selectColor(this)">
                                            <i class="bi bi-check text-white position-absolute check-icon"></i>
                                        </div>
                                        <div class="color-box position-relative" style="background-color: white; border: 1px solid #aaa;" onclick="selectColor(this)">
                                            <i class="bi bi-check text-dark position-absolute check-icon"></i>
                                        </div>
                                        <div class="color-box position-relative" style="background-color: red;" onclick="selectColor(this)">
                                            <i class="bi bi-check text-white position-absolute check-icon"></i>
                                        </div>
                                        <div class="color-box position-relative" style="background-color: orange;" onclick="selectColor(this)">
                                            <i class="bi bi-check text-white position-absolute check-icon"></i>
                                        </div>
                                        <div class="color-box position-relative" style="background-color: blue;" onclick="selectColor(this)">
                                            <i class="bi bi-check text-white position-absolute check-icon"></i>
                                        </div>
                                    </div>
                                </section>
                                <section class="mb-4 border-ui shadow-xl filter-container">
                                    <h2 class="filter-title">برند</h2>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" id="brand-aeg-filter">
                                        <label class="form-check-label font-16" for="brand-aeg-filter">AEG</label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" id="brand-asus-filter">
                                        <label class="form-check-label font-16" for="brand-asus-filter">ایسوس</label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" id="brand-panasonic-filter">
                                        <label class="form-check-label font-16" for="brand-panasonic-filter">پاناسونیک</label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" id="brand-sony-filter">
                                        <label class="form-check-label font-16" for="brand-sony-filter">سونی</label>
                                    </div>
                                </section>
                                <section class="mb-4 border-ui shadow-xl filter-container">
                                    <h2 class="filter-title">وضعیت</h2>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input px-3" name="hasStock" type="checkbox" role="switch" id="stock-available-filter" checked="" onchange="document.getElementById('stock-unavailable-filter').checked = false">
                                        <label class="form-check-label" for="stock-available-filter">موجود</label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input px-3" name="hasStock" type="checkbox" role="switch" id="stock-unavailable-filter" onchange="document.getElementById('stock-available-filter').checked = false">
                                        <label class="form-check-label" for="stock-unavailable-filter">ناموجود</label>
                                    </div>
                                </section>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <!-- filter in desktop -->
            <div class="col-lg-3 d-lg-block d-none">
                <form asp-controller="Product" asp-action="FilterProducts" method="get">
                    <aside class="">
                        <section class="mb-4 border-ui  shadow-xl filter-container">
                            <!-- Adding a heading for SEO purposes, but hiding it visually -->
                            <h4 class="section-title visually-hidden">جستجوی محصولات</h4> <!-- Hidden from view but present for SEO -->
                            <label for="search-products" class="filter-title">جستجو محصولات</label>
                            <div class="position-relative">
                                <input id="search-products" type="text" asp-for="ProductTitle" class="form-control py-3 rounded-4 w-100 bs-bg-gray-100" placeholder="جستجوی محصول ...">
                                <button type="submit" class="position-absolute me-3 end-0 top-50 translate-middle-y">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </section>
                        <section class="mb-4 border-ui  shadow-xl filter-container">
                            <h2 class="filter-title">فیلتر قیمت</h2>
                            <div class="filter-price">
                                <ul class="filter-range mb-4">
                                    <li>
                                        <input type="number" asp-for="SelectedMaxPrice" placeholder="@Model.FilterMaxPrice" class="js-slider-range-from min-price-filter">
                                        <span>تومان</span>
                                    </li>
                                    <li class="label fw-bold">تا</li>
                                    <li>
                                        <input type="number" asp-for="SelectedMinPrice" placeholder="@Model.FilterMinPrice" class="js-slider-range-to max-price-filter">
                                        <span>تومان</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-check mt-2">
                                <button type="submit">فیلتر قیمت محصولات</button>
                            </div>
                        </section>
                    </aside>
                </form>
            </div>
            <!-- product -->
            @if (Model.Products is not null)
            {
                <div class="col-lg-9">
                    <div class="category-sort mb-3">
                        <div class="content-box">
                            <div class="container-fluid">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="box_filter d-lg-block d-none">
                                        <ul class="list-inline text-start mb-0">
                                            <li class="list-inline-item title-font ms-0">مرتب سازی بر اساس :</li>
                                            <li class="list-inline-item"><a href="#">گران ترین</a></li>
                                            <li class="list-inline-item">
                                                <a class="active_custom" href="#">ارزان ترین</a>
                                            </li>
                                            <li class="list-inline-item"><a href="#">پروفروش ترین</a></li>
                                            <li class="list-inline-item"><a href="#">داغ ترین</a></li>
                                            <li class="list-inline-item"><a href="#">محبوب ترین</a></li>
                                        </ul>
                                    </div>
                                    <div class="box_filter_counter fs-6"><i class="bi bi-card-list me-2"></i> @Model.ProductsCount کالا</div>
                                </div>
                                <div class="d-lg-none d-block">
                                    <form>
                                        <h5 class="mb-3">مرتب سازی بر اساس</h5>
                                        <select class="form-select">
                                            <option value="">گران ترین</option>
                                            <option value="">ارزان ترین</option>
                                            <option value="">پرفروش ترین</option>
                                            <option value="">داغ ترین</option>
                                            <option value="">محبوب ترین</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-4">
                        @foreach (var product in Model.Products)
                        {
                            <div class="col-lg-4">
                                <div class="product-box border-ui">
                                    <a asp-controller="Product" asp-action="ProductDetails" asp-route-productId="@product.Id">
                                        <div class="product-image">
                                            <img src="@(!string.IsNullOrWhiteSpace(product.Image) ? PathExtension.ProductOrigin + product.Image : PathExtension.NoImage)" alt="@product.Title" title="@product.Title" class="img-fluid one-image">
                                            <img src="@(!string.IsNullOrWhiteSpace(product.Image) ? PathExtension.ProductOrigin + product.Image : PathExtension.NoImage)" alt="@product.Title" title="@product.Title" loading="lazy" class="img-fluid two-image">
                                        </div>
                                        <div class="d-flex h-80-px align-items-center justify-content-between ">
                                            <h6 class="font-14 text-overflow-2 my-3 lh-lg">
                                                @product.Title
                                            </h6>
                                        </div>
                                        <div class="product-action bs-bg-gray-200 border-ui  rounded-3">
                                            <div class="discount mt-1">
                                                <span class="btn main-color-one-bg"><i class="bi bi-cart"></i></span>
                                            </div>
                                            <div class="price d-flex justify-content-end flex-column align-content-end">
                                                <p class="new-price me-0 text-end">پیاده سازی نشده <span class="fw-normal">تومان</span></p>
                                                <p class="old-price">
                                                    <span class="badge bg-danger rounded-pill me-2">پیاده سازی نشده%</span>
                                                    @product.Price.ToString("##,###")
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="my-paginate mt-5">
                        <partial name="_PagingPartial" />
                    </div>
                </div>
            }
            else
            {
                <partial name="_NoItemFound" />
            }
            <!-- description -->
            <div class="col-12">
                <div class="content-box">
                    <div class="container-fluid">
                        <div class="product-desc-content">
                            <input class="read-more-state" id="readMore3" type="checkbox">
                            <!-- والد بیشتر ، کمتر ، تمام متن توضیحات باید داخل این تگ قرار بگیرند -->
                            <div class="read-more-wrap">
                                <h6 class="font-22 mb-2 title-font title-line-bottom">دسته بندی پوشاک</h6>

                                <p>
                                    اگر به دنبال تهیه یک هدفون بی‌سیم گیمینگ هستید، هدفون
                                    بلوتوثی مدل K55
                                    به‌عنوان
                                    یکی از جدیدترین گزینه‌های موجود در بازار ارزش بررسی را
                                    دارد. این مدل با
                                    ابعادی
                                    کوچک تولید شده است. ابعاد و وزن کم آن، جابه‌جایی این
                                    وسیله و استفاده
                                    طولانی‌مدت
                                    از آن را آسان می‌کند و باعث خستگی گوش‌ها نخواهد شد. این
                                    مدل برای اتصال
                                    به
                                    دستگاه‌ به بلوتوث نسخه 5.0 مجهز شده است و در مدت زمان
                                    اندکی، اتصال با
                                    گوشی
                                    موبایل اندروید یا ios شما برقرار خواهد شد. هدفون بی سیم
                                    K55 دارای یک
                                    میکروفون با
                                    کیفیت است و ...
                                </p>

                                <!-- متن بیشتر -->
                                <div class="read-more-target">
                                    <p>
                                        و این ویژگی، آن را برای مکالمه مناسب می‌سازد. از ویژگی‌های
                                        اصلی این محصول محفظه نگهدارنده یا همان کیس آن است. این کیس
                                        قابلیت شارژ هدفون را دارد. برای شارژ آن کافی است از درگاه
                                        USB-C تعبیه شده بر روی کیس و کابل شارژ درون بسته‌بندی
                                        استفاده کنید. گفتنی است باتری 400 میلی‌آمپر ساعتی این هدفون
                                        در حدود 4-6 ساعت مکالمه و 4-6 ساعت پخش موسیقی را پاسخ‌گو
                                        خواهد بود.
                                    </p>
                                </div>
                                <!-- پایان متن بیشتر -->
                            </div>
                            <!-- پایان والد بیشتر کمتر -->
                            <label class="read-more-trigger" for="readMore3"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>